<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>运动id</td>
        <td>用户id</td>
        <td>运动类型</td>
        <td>运动开始时间</td>
        <td>运动结束时间</td>
        <td>消耗卡路里</td>
    </tr>
    </thead>
    <tbody>
    {% for er in exercise_queryset %}
        <tr>
            <td>{{ er.ExerciseId }}</td>
            <td>{{ er.UserId }}</td>
            <td>{{ er.Type }}</td>
            <td>{{ er.StartTime }}</td>
            <td>{{ er.EndTime }}</td>
            <td>{{ er.CalorieCostS }}</td>
        </tr>
    {% endfor %}


    </tbody>
</table>
</body>
</html>